html,
body {
    margin: 0;
    padding: 0;
    height: 100dvh;
    width: 100vw;
    overflow: hidden;
    box-sizing: border-box;
}

html {
    font-size: 1.4rem;
}

body {
    background-color: #333;
    color: #ddd;
}

#app {
    width: 100vw;
    min-height: 100dvh;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cursor-pointer {
    cursor: pointer;
}

hr {
    border-color: #333 !important;
}

small {
    font-size: .65rem;
}

.nowrap {
    white-space: nowrap;
}

header {
    height: 5rem;
    border-bottom: thin solid #222;
}

.life {
    --c: #777;
    width: 3rem;
    aspect-ratio: 1;
    background: radial-gradient(at 70% 31%, var(--c) 29%, #0000 30%),
        radial-gradient(at 30% 31%, var(--c) 29%, #0000 30%),
        conic-gradient(from -45deg at 50% 84%, var(--c) 90deg, #0000 0) bottom/100% 50% no-repeat;
    transition: background-color 0.3s ease-in-out;
}

.life.active {
    --c: red;
}

.side-menu-wrapper {
    top: 50%;
    max-width: min(50vw,50em);
    transition: transform 0.3s ease-in-out;
}

.side-menu {
    background-color: rgba(1, 1, 1, .6) !important;
}

.side-menu>h3 {
    padding-right: 1rem;
}

.close-btn {
    font-size: 1.1rem;
    aspect-ratio: 1;
    padding: .15em .3rem;
    margin-top: .5em !important;
    border-radius: .2rem;
}

.close-btn:hover {
    background-color: rgba(0, 0, 0, .2);
}

.question.card {
    min-width: 32rem;
}


svg.flag {
    width: 1.2rem;
    aspect-ratio: 1;
    fill: #ddd
}

svg.flag.active,
svg.flag:hover {
    fill: red;
    cursor: pointer;
}

svg.flag.active:hover {
    fill: #ddd;
}

ul.flagged-questions {
    max-height: 40dvh;
    overflow-y: scroll;
}